:root{  
  --bckgrnd: rgb(232,237,239);
  --bckgrndGrad: linear-gradient( rgb(232,237,239), rgb(255,255,255)); 
  --textA: rgb(39,66,86);
  --textB: rgba(39,66,86,.6);
  --textH: rgb(72,110,136);
  --textPlacholder: #A9A9A9;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A9A9A9;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #A9A9A9;
}


body {
   background-image: var(--bckgrndGrad);
    font-family: Verdana, Helvetica, sans-serif;
    color: rgb(39,66,86);
}

h1,h2,h3,h4,h5,h6{
    color: rgb(72,110,136);
}

a {
    text-decoration: none ;
    color: rgb(39,66,86);
}

form{
    width: 90%;
}

fieldset{
    border-style: solid;
    border-color: rgba(39,66,86,.2);
    border-width: 8px;
   box-sizing: border-box;
}

label.pale{
    color: rgba(39,66,86,.6);
}

input[type=text],select {
    background-color: rgb(255,255,255);
    color: rgb(39,66,86);
   font-size: 20px;
   width: 90%;
   padding: 4px 8px;
   margin: 8px 20px;
   box-sizing: border-box;
}

select {
   width: auto;
}

textarea{
    font-size: 20px;
   width: 90%;
   margin: 24px 20px;
}

button,input[type=button],input[type=submit],input[type=reset] {
    background-color: rgb(72,110,136);
    color: white;
   font-size: 20px;
   text-decoration: none;
   border: none;
   height: 48px;
   width: 30%;
   margin: auto;
}

button:hover,input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover{
    cursor: pointer;
}

.txtleft {
  text-align: left;
}

.txtright {
  text-align: right;
}

.txtcenter {
text-align: center;
}